@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  box-sizing: border-box;
}

.icon {
  user-select: none;
}

a {
  color: #0057ff;
  text-decoration: none;
  transition: color ease 0.2s;

  &:hover {
    color: #0036a3;
  }
}
